@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.849);
  text-align: center;
  color: #fdfdfd;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
}

#wrap {
}

#clock {
  font-size: 8rem;
  line-height: 0;
  letter-spacing: -0.3125rem;
  padding-top: 150px;
}
#login-form {
}
input,
button {
  border: none;
  border-radius: 0;
  background-color: transparent;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5rem;
  margin: 10px;
}

input {
  border-bottom: 2px solid rgba(255, 255, 255, 0.63);
  color: #fdfdfd;
  text-align: center;
}

input::placeholder {
  color: #fdfdfd;
  text-align: center;
}

button {
  color: #fdfdfd;
  margin-left: -3rem;
}
button i {
  font-size: 1.25rem;
}

#login-form input {
  font-size: 1.25rem;
  font-weight: 600;
}

#login-form input::placeholder {
  font-weight: 600;
}

#greeting {
  font-size: 36px;
  line-height: 1rem;
}

.hidden {
  display: none;
}
#todo-form {
  margin-top: 80px;
}
#todo-form input {
  width: 300px;
  font-size: 1rem;
  font-weight: 100;
}

#todo-form input::placeholder {
  font-weight: 100;
}

#todo-list {
  padding: 0;
  width: 300px;
  margin: 0 auto;
}
#todo-list li {
  list-style: none;
  background: rgba(85, 85, 85, 0.377);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.164);
  text-align: left;
  position: relative;
  padding: 10px 30px;
  margin-top: 8px;
  margin-bottom: 10px;
}
#todo-list li span {
}

#todo-list li button {
  margin: 0;
  position: absolute;
  top: 3px;
  right: 20px;
  padding: 10px;
}
#todo-list li button i {
  color: rgb(238, 40, 139);
}

#quote {
  font-weight: 100;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

#weather {
  font-size: 1rem;
  position: fixed;
  top: 10px;
  right: 20px;
}
